# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# Uploaded resumes
uploads/

# Local database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*

# Backup
project_backup/
